html, body {
  height: 100%;
}

body {
  background-color: #dfdfdf;
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  color: #424242;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0.5em 0;
}

@font-face {
  font-family: "PT Sans Pro Condensed"; /* Имя шрифта */
  src: url("../woff/PT Sans Pro Condensed.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Sans Pro Caption"; /* Имя шрифта */
  font-weight: normal;
  font-style: normal;
  src: url("../woff/PT Sans Pro Caption.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: normal;
  font-weight: normal;
  src: url("../woff/PT Serif Pro Book.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "PT Serif Pro Book"; /* Имя шрифта */
  font-style: italic;
  font-weight: normal;
  src: url("../woff/PT Serif Pro Book Italic.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Roboto Thin"; /* Имя шрифта */
  font-style: normal;
  font-weight: normal;
  src: url("../woff/Roboto-Thin.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Roboto Light"; /* Имя шрифта */
  font-style: normal;
  font-weight: normal;
  src: url("../woff/Roboto-Light.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../woff/FiraSans-BoldItalic.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url("../woff/RobotoCondensed-Light.woff") format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: Italic;
  font-weight: 300;
  src: url("../woff/RobotoCondensed-LightItalic.woff") format('woff');
}

.pixellate-lock img {
  visibility: visible !important;
}
.pixellate-lock .pixellate-pixel {
  transform: none !important;
  opacity: 1 !important;
}

/* Настройка ScrollMagic */
html.touch div#content-wrapper {
  min-width: 700px;
}

#content-wrapper {
  max-width: 1920px;
  min-width: 650px;
  overflow: hidden;
}

#content-wrapper section {
  background-color: #dfdfdf;
}

#part1, #part2, #part3, #part4, #part5 {
  display: none;
}

.scrollContainer {
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 650px;
  width: 100%
}

.scrollContent {
  position: relative;
  /*height: 100%;*/
}

/* Блок навигации по слайдам */
#navigation-bar {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 20px;
}

#navigation-bar ul {
  display: none;
  list-style: none;
  font-size: 10px;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#navigation-bar ul li {
  display: inline-block;
  background-color: #353535;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  border-width: 2px;
  border-color: #aaa;
  border-style: solid;
}

#navigation-bar ul li,
#navigation-bar ul li a,
#navigation-bar ul li.not-circle a:hover,
#navigation-bar ul li.not-circle:hover a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#navigation-bar ul li.active,
#navigation-bar ul li:hover {
  background-color: #eee;
  border-color: #353535;
}

#navigation-bar ul li.active,
#navigation-bar ul li.active a,
#navigation-bar ul li:hover,
#navigation-bar ul li:hover a {
  color: #000;
}

#navigation-bar ul li.not-circle {
  background-color: transparent;
  color: #353535;
  width: auto;
  height: 20px;
  line-height: 20px;
  border: none;
  text-shadow: 1px 1px 2px #000, 0 0 0.3em #353535;
  padding: 0 10px;
}
/* !Блок навигации по слайдам */

/* Контейнер с документами */
.docs-container {
  
}

.docs-container .imgs {
  width: 90%;
  margin-left: 5%;
  padding: 2.2em 0 0 0;
  text-align: center;
}

.docs-container .imgs img {
  display: inline-block;
  box-shadow: 0 0 10px 0 #424242;
  margin-bottom: 10px;
  -webkit-transition: all .8s ease-out;
  -o-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  -ms-transition: all .8s ease-out;
  -kthtml-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

#part1 .docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #00bcd4;
}

#part2 .docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #009688;
}

#part3 .docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #c2185b;
}

#part4 .docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #ff9800;
}

#part5 .docs-container .imgs img:hover {
  box-shadow: 0 0 10px 0 #3f51b5;
}

.docs-container.no-shadow .imgs img {
  box-shadow: none !important;
}

.docs-container.far .imgs img {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.docs-container.closer .imgs img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.docs-container.single .imgs img {
  max-width: 60%;
}

.docs-container.double .imgs img {
  max-width: 40%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.triple .imgs img {
  max-width: 25%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.four .imgs img {
  max-width: 20%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.six .imgs img {
  max-width: 11%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container.seven .imgs img {
  max-width: 9%;
  margin-left: 2%;
  margin-right: 2%;
}

.docs-container .desc {
  width: 70%;
  margin-left: 15%;
  padding: 0 0 3em 0;
}

.docs-container .desc p {
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  font-size: .8em;
}
/* !Контейнер с документами */

/* Lightbox */
#lightbox {
  font-weight: normal;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
}

.lb-caption a {
  color: #ccc;
}
/* !Lightbox */

/* Блок browser isn't supported */
.not-supported {
  display: none;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  color: #424242;
}

html.no-canvas .not-supported,
html.no-fontface .not-supported,
html.no-opacity .not-supported,
html.no-textshadow .not-supported,
html.no-boxshadow .not-supported,
html.no-backgroundsize .not-supported,
html.no-rgba .not-supported,
html.no-hashchange .not-supported {
  display: block !important;
}

.not-supported a {
  font-weight: bolder;
  color: #424242;
}

.not-supported h1 {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);
  width: 100%;
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
}

.not-supported .description {
  margin-left: 25%;
  width: 50%;
}

#force-open {
  text-align: center;
}

#force-open .button {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  padding: 15px 30px;
  background-color: #5677fc;
  color: #fff;
  font-family: "Roboto Light", Arial;
  text-transform: uppercase;
  font-size: 1.2em;
  cursor: pointer;
}
/* !Блок browser isn't supported */

/* Блок no js support */
html.js .no-js-support {
  display: none !important;
}

.no-js-support {
  background-color: #fff;
  background-image: url("../img/warning-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9998;
  font-family: "PT Serif Pro Book", serif, "Times New Roman";
  font-weight: normal;
}

.no-js-support h1 {
  text-align: center;
  font-style: italic;
}

.no-js-support p {
  width: 70%;
  margin-left: 15%;
  font-size: 16pt;
}
/* !Блок no js support */

/* Загрузочный экран */
#loader-screen {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: 9997;
  background-position: center center;
  background: -moz-linear-gradient(top, #424242 0%, #212121 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#424242), color-stop(100%,#212121)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #424242 0%,#212121 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #424242 0%,#212121 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #424242 0%,#212121 100%); /* IE10+ */
  background: linear-gradient(to bottom, #424242 0%,#212121 100%); /* W3C */
}

#loader-screen p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 1em;
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: italic;
  color: #fff;
  font-size: 2em;
}
/* !Загрузочный экран */
#parts-block {
  text-align: center;
  margin-top: 50px;
}

#parts-block .to-part {
  display: inline-block;
  width: 17%;
  max-width: 400px;
  height: 475px;
  margin: 0 1%;
  padding: 0;
  background-position: top center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 7px 2px #424242;
  overflow: hidden;
}

#parts-block .to-part,
#parts-block .to-part .caption-container,
#parts-block .to-part .caption-container p {
  -webkit-transition: all .4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -o-transition: all .4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -moz-transition: all .4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -ms-transition: all .4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  -kthtml-transition: all .4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
  transition: all .4s cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

#parts-block .to-part .caption-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#parts-block .to-part .caption-container p {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px 7%;
  width: 86%;
  color: #fff;
  text-transform: uppercase;
}

#parts-block .to-part:hover .caption-container p {
  padding: 475px 7% 30px 7%;
  font-size: 2em;
}

#parts-block .to-part.one {
  background-color: #00bcd4;
  background-image: url("../img/to_part_1.jpg");
}

/*#parts-block .to-part.one .caption-container {
  background-color: rgba(0, 188,  212, .5)
}*/

#parts-block .to-part.one:hover {
  box-shadow: 0 0 4px 2px #00bcd4 !important;
}

#parts-block .to-part.one .caption-container p {
  background-color: #00bcd4;
}

#parts-block .to-part.two {
  background-color: #009688;
  background-image: url("../img/to_part_2.jpg");
}

#parts-block .to-part.two:hover {
  box-shadow: 0 0 4px 2px #009688;
}

#parts-block .to-part.two .caption-container p {
  background-color: #009688;
}

#parts-block .to-part.three {
  background-color: #c2185b;
  background-image: url("../img/to_part_3.jpg");
}

#parts-block .to-part.three:hover {
  box-shadow: 0 0 7px 2px #c2185b;
}

#parts-block .to-part.three .caption-container p {
  background-color: #c2185b;
}

#parts-block .to-part.four {
  background-color: #ff9800;
  background-image: url("../img/to_part_4.jpg");
}

#parts-block .to-part.four:hover {
  box-shadow: 0 0 4px 2px #ff9800;
}

#parts-block .to-part.four .caption-container p {
  background-color: #ff9800;
}

#parts-block .to-part.five {
  background-color: #3f51b5;
  background-image: url("../img/to_part_5.jpg");
}

#parts-block .to-part.five:hover {
  box-shadow: 0 0 4px 2px #3f51b5;
}

#parts-block .to-part.five .caption-container p {
  background-color: #3f51b5;
}

#part0 {
  z-index: 9996;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  background-image: url("../img/bg_part0.jpg");
  /*background-repeat: no-repeat;*/
  background-position: center center;
  padding-bottom: 80px;
}

#part0 h1 {
  font-family: "Fira Sans";
  font-weight: 700;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.6);
}

#start-quote {
  width: 60%;
  margin: 30px auto 0 auto;
}

#start-quote p {
  padding: 0;
}

#start-quote p.text {
  font-style: italic;
  font-size: 1.4em;
}

#start-quote p.source {
  width: 40%;
  margin: 0 0 0 60%;
}

#authors {
  position: fixed;
  width: 60%;
  bottom: 0;
  left: 20%;
  text-align: center;
  font-size: .8em;
  padding: 5px 0;
  background-color: #dfdfdf;
}

section .part-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 250px;
  color: #fff;
  overflow: hidden;
}

section .part-header h1,
section .part-header h2 {
  font-weight: normal;
  position: absolute;
}

section .part-header h1 {
  bottom: 10%;
  left: 12%;
}

section .part-header h2 {
  width: 10%;
  left: 1%;
  bottom: 10%;
  text-align: right;
  font-size: 150px;
  line-height: 150px;
}

section .content {
  padding-top: 300px;
  width: 70%;
  margin-left: 15%;
}

#parts-navigation {
  position: absolute;
  left: 0;
  top: 250px;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #eee;
  overflow: hidden;
  text-align: center;
  list-style-type: circle;
  list-style-position: outside;
  -webkit-box-shadow: 0 2px 4px -2px #424242;
  -moz-box-shadow: 0 2px 4px -2px #424242;
  box-shadow: 0 2px 4px -2px #424242;
}

#parts-navigation li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
}

#parts-navigation li span {
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -kthtml-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#parts-navigation li .marker-part {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: #757575;
  border-radius: 50%;
}

#parts-navigation li:hover .marker-part.zero {
  background-color: #424242;
}

#parts-navigation li:hover .marker-part.one {
  background-color: #00bcd4;
}

#parts-navigation li:hover .marker-part.two {
  background-color: #009688;
}

#parts-navigation li:hover .marker-part.three {
  background-color: #c2185b;
}

#parts-navigation li:hover .marker-part.four {
  background-color: #ff9800;
}

#parts-navigation li:hover .marker-part.five {
  background-color: #3f51b5;
}

#part1 .part-header {
  background-color: #00bcd4;
}

.photo-block {
  width: 100%;
  text-align: center;
}

.photo-block .docs-container {
  width: 32%;
  display: inline-block;
  vertical-align: top;
}

#part1 .photo-block .docs-container {
  width: 45%;
}

#part2 .part-header {
  background-color: #009688;
}

#part3 .part-header {
  background-color: #c2185b;
}

#part4 .part-header {
  background-color: #ff9800;
}

#part5 .part-header {
  background-color: #3f51b5;
}
